@import 'components/nav';
@import 'components/intro';

.container,
.sm\:container {
  margin-inline: auto;
  width: max(343px, 87vw);
}

.flex {
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 25px;
}

.intro {
  &_img {
    margin-top: 30px;
  }
  &_text,
  .flex {
    margin-top: 40px;
  }
}
