@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --fs-300: 0.75rem;
  --fs-400: 0.9rem;
  --fs-300: 1.05rem;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-size: 1.95rem;
}

p {
  font-size: var(--fs-400);
  color: $Medium-Gray;
}
