.intro {
  &_img {
    height: max(280px, 70vw);
    background-image: url(../images/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &_text {
    text-align: center;

    > * + * {
      margin-top: 30px;
    }
  }

  .flex {
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
  }
}

.btn {
  padding: 12px 24px;

  border: none;
  border-radius: 15px;

  cursor: pointer;
}

.btn-primary {
  background-color: $Almost-Black;
  color: $Almost-White;
  font-size: var(--fs-400);
}
